
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
button {
    background-color: var(--main-color); /* Knappens bakgrundsfärg */
    color: var(--text-color); /* Textens färg */
    padding: 10px 20px; /* Padding runt texten */
    font-size: 1.5rem; /* Gör texten större */
    border: 2px solid var(--border-color); /* Lägg till en kantlinje */
    border-radius: 8px; /* Rundade hörn */
    cursor: pointer; /* Visar pekaren som en hand när man hovrar */
    transition: all 0.3s ease; /* Smooth transition för hover-effekten */
  }
  button:hover{
    background-color: #807014;
    color: var(--text-color);

  }
  button:active{
    background-color: #333;
    transform: scale(0.95);
  }
  .grid-item{
    background-color: #8c9ca3;
    border: 2px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 1.5rem;
  }
  h1, h2 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--border-color);
  }
  p, li {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  ul{
    margin-top: 30px;
  }
  
/* Deklarerar CSS-variabler för att lätt kunna ändra färger och storlekar på text och bakgrund. */

:root {
  --text-color: #FDFFF5;
  --bg-color: #8C8453;
  --main-color: #1B1E10;
  --border-color: #677786;
  --h1-front: 5.5rem;
  --h2-front: 3rem;
  --p-font: 1.2rem;
}

/* Inställningar för body: färg och bakgrundsbild, där bilden täcker hela bakgrunden och stannar fast vid scroll. */

body {
  color: var(--text-color);
  background: var(--bg-color);
  background-image: url("../image/golf.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
} 


/* Header är fixerat längst upp och täcker hela bredden. Innehållet placeras horisontellt med flexbox och en suddig bakgrund används. */

#header {
  top: 0px;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(20px);
  z-index: 100;
  margin-top: 10px;
}

/* Stil på logotypen: stor text, vit färg och fet stil. */
.logo {
  font-size: 50px;
  color: var(--text-color);
  font-weight: 700;
  text-decoration: none;
}

/* Färgar all text inuti span-element med huvudfärgen. */

span {
  color: var(--main-color);
}

/* Flexbox-layout för navigeringsfältet (navbar) för horisontell placering av länkar. */

.navbar {
  display: flex;
  list-style: none;
}


/* Stil på navigeringslänkarna: vit text, fet stil, padding och rundade hörn. Smooth transition vid hover. */
.navbar a {
  color: var(--text-color);
  font-size: var(--p-font);
  font-weight: 600;
  margin: 5px;
  transition: all .5s ease;
  padding: 10px;
  border-radius: 5px;
}

/* Vid hover: bakgrunden ändras till en guldbrun färg. */

.navbar a:hover {
  background: #8D7014;
}

/* Flexbox för "följ oss"-sektionen med vertikal centrering. */

.follow-oss {
  display: flex;
  align-items: center;
}

/* Första länken i "följ oss"-sektionen har en unik stil: guldbrun färg, fet stil, gräns och rundade hörn med mörk bakgrund. */

.follow-oss a:first-child {
  color: #8D7014;
  font-size: var(--p-font);
  margin-right: 15px;
  border: 3px solid;
  padding: 7px;
  border-radius: 5px;
  background-color: var(--main-color);
}


/* Allmänna länkar i "följ oss"-sektionen: vit text, mellanstorlek och smooth transition vid hover. */
.follow-oss a {
  vertical-align: middle;
  font-size: 20px;
  color: var(--text-color);
  margin-right: 22px;
  margin-left: 5px;
  transition: all .5s ease;
  font-weight: 600;
}

/* Vid hover på första länken: bakgrunden blir transparent och färgen. */


.follow-oss a:first-child:hover {
  background: transparent;
  color: #8C9CA3;
}

/* Vid hover på övriga länkar: textfärgen ändras till guldbrun. */

.follow-oss a:hover {
  color: #8D7014;
}

/* Centrerar ett element både vertikalt och horisontellt på sidan. */
.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 1 kolumner */
  grid-gap: 5px; /* Mellanrum mellan boxarna */
  padding: 5px;
}

.grid-item {
  background-color: #8C9CA3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Fast höjd för boxarna */
}
.header {
  display: grid;
  grid-template-columns: 1fr auto; /* Fördelar utrymmet mellan rubriken och "Om oss" */
  align-items: center; /* Vertikal centrering */
  padding: 20px;
  background-color: lightgray;
}
 
 /* Förändringar på knappar */
button {
    background-color: var(--main-color); /* Knappens bakgrundsfärg */
    color: var(--text-color); /* Textens färg */
    padding: 10px 20px; /* Padding runt texten */
    font-size: 1.5rem; /* Gör texten större */
    border: 2px solid var(--border-color); /* Lägg till en kantlinje */
    border-radius: 8px; /* Rundade hörn */
    cursor: pointer; /* Visar pekaren som en hand när man hovrar */
    transition: all 0.3s ease; /* Smooth transition för hover-effekten */
  }
  
  /* Effekt när knappen hovras (när musen hålls över knappen) */
  button:hover {
    background-color: #000; /* Bakgrund blir svart vid hover */
    color: var(--text-color); /* Texten behåller sin färg */
  }
  
  /* Effekt när knappen klickas (när man håller nere musknappen) */
  button:active {
    background-color: #333; /* Svart färg med lite ljusare ton vid klick */
    transform: scale(0.95); /* Gör knappen lite mindre vid klick */
  }
   /* Lägger till en gräns för andra element som "grid-item" */
  .grid-item {
    background-color: #8C9CA3;
    border: 2px solid var(--border-color); /* Lägger till en kantlinje runt grid-elementen */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Fast höjd för boxarna */
    font-size: 1.5rem; /* Större text i rutorna */
  }
   /* Effekt när knappen hovras (när musen hålls över knappen) */
  button:hover {
    background-color: #807014; /* Bakgrund blir brun vid hover */
    color: var(--text-color); /* Texten behåller sin färg */
  }
  
  /* Effekt när knappen klickas (när man håller nere musknappen) */
  button:active {
    background-color: #333; /* Svart färg med lite ljusare ton vid klick */
    transform: scale(0.95); /* Gör knappen lite mindre vid klick */
  }
  
 
  /* Lägger till en gräns för andra element som "grid-item" */
  .grid-item {
    background-color: #8C9CA3;
    border: 2px solid var(--border-color); /* Lägger till en kantlinje runt grid-elementen */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Fast höjd för boxarna */
    font-size: 1.5rem; /* Större text i rutorna */
  }
  h1, h2 {
    margin-bottom: 20px; /* Ger ett mellanrum nedanför rubriken */
    padding-bottom: 10px; /* Lägger till lite utrymme inuti rubriken */
    border-bottom: 2px solid var(--border-color); /* Lägger till en linje under rubriken */
  }
  
  p, li {
    margin-top: 10px;  /* Lägger till mellanrum ovanför texten */
    margin-bottom: 20px; /* Lägger till mellanrum nedanför texten */
  }
  
  /* Specifikt för listor */
  ul {
    margin-top: 30px; /* Lägger mer mellanrum innan listan */
  }